<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">somnath@123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hrdept</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.ms.EMPSERVICE.pojo.Acct" />
        <mapping class="com.ms.EMPSERVICE.pojo.Emp" />
        <mapping class="com.ms.EMPSERVICE.pojo.Address" />
        <mapping class="com.ms.EMPSERVICE.pojo.Project" />
    </session-factory>
</hibernate-configuration>
